<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>書店アプリ</title>
</head>
<body>
    <div class="container">
        <h1>テスト書店</h1>
        <h2>新刊情報の編集</h2>
        <form method="post" action="{{ url_for('update', book_id=book.id) }}">
            <table>
                <tr>
                    <th></th>
                    <th>入荷日</th>
                    <th>タイトル</th>
                    <th>金額</th>
                </tr>
                <tr>
                    <!-- テキストボックス -->
                    <td>変更後</td>
                    <td><input type="text" name="arrival_day" value="{{ book.arrival_day }}"></td>
                    <td><input type="text" name="title" value="{{ book.title }}"></td>
                    <td><input type="text" name="price" value="{{ book.price }}"></td>
                </tr>
            </table>
            <!-- 改行 -->
            <br>
            <!-- ボタン -->
            <input type="submit" value="更新">
        </form>
    </div>
</body>
</html>