<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>書店アプリ</title>
</head>
<body>
    <div class="container">
        <h1>テスト書店</h1>
        <h2>今月の新刊一覧</h2>
        <!-- 引数で渡されたものを埋め込むことができる（波括弧２つで囲む←テンプレートエンジンの機能） -->
            <!-- if文も作れる -->
            {% if books == [] %}
                <p>今月の新刊情報はまだありません</p>
            {% else %}
                <table border="1">
                    <!-- テーブルの１行を表すタグ -->
                    <tr>
                        <th>入荷日</th>
                        <th>タイトル</th>
                        <th>金額</th>
                    </tr>
                    <!-- for文を作れる -->
                    {% for book in books %}
                        <tr>
                            <td>{{ book.arrival_day }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.price }}円</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        <!-- リンクを表示させる。url_for関数の引数には、このリンクをクリックしたら実行させたいpythonの関数名を記述 -->
        <!-- 実施に渡されるのはform関数に紐づくURL -->
            <a href="{{ url_for('form') }}" class="button-link">新規登録</a>
            <a href="{{ url_for('delete') }}" class="button-link">削除</a>
    </div>
</body>
</html>